################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/PBX/FileContentIndex/9834927e-c386-4ca8-9edd-e75326f82f47.vsidx
