@model PBX.Models.Uzytkownik
@{
    ViewBag.Title = "Rejestracja";
}
<h2>Rejestracja zakończona</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group d-flex justify-content-center">
        @Html.ActionLink("Strona Główna", "Index", "Home")
    </div>
</div>
}
