@model PBX.Models.Chat
@using PBX.Models

@{
    ViewBag.Title = "Usuwanie Chatu";
    string rozmowca = Model.Zainteresowany.id == (ViewBag.user as Uzytkownik).id ? Model.Oglaszajacy.imie : Model.Zainteresowany.imie;
}

<h2>Usuwanie Chatu</h2>

<h3>Na pewno chcesz usunąć chat z użytkownikiem @rozmowca?</h3>
<div>
    <hr />
    <h4>Chat Ogłoszenia:</h4>
    <h4>@Html.DisplayFor(model => model.Ogloszenie.nazwa) - @Html.DisplayFor(model => model.Ogloszenie.cena)</h4>
    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color d-flex flex-column justify-content-center align-items-center mt-4">
            <input type="submit" value="Usuń chat" class="btn btn-danger my-4" />
            <p class="my-2">@Html.ActionLink("Anuluj", "Messages", "Home")</p>
        </div>
    }
</div>
