:root {
    --main-color: #FFFFFF;
    --secondary-color: #343444/*#343438*/ /*#2D3142*/;
    --selected-color: #262628;
    --third-color: #3DA5D9;
    --fourth-color: #F0F0F0;
    --accent-color: #F93943; /*#7353BA;*/ /*#8C62BD;*/ /*#4FB286;*/
    --background-color: white;
    --your-message: white;
    color-scheme:light;
}
@media(prefers-color-scheme: dark) {
    :root {
        --background-color: #3D3D3F;
        --your-message: #F0F0F0;
        --fourth-color: #4D4D4F;
        color-scheme: dark light;
    }
    div#filter.dropdown-menu{
        background-color:var(--background-color);
    }
    h1, h2, h3, h4, h5, h6, label, th, td, dt, dd, legend, p, #text {
        color: white !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-align:center;
}

    html {
        font-family: 'Bahnschrift', 'Arial', sans-serif;
    }

    body {
        padding-top: 85px;
        padding-bottom: 70px;
        background-color: var(--background-color)!important;
    }

    /* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

    /* Override the default bootstrap behavior where horizontal description lists 
       will truncate terms that are too long to fit in the left column 
    */
    .dl-horizontal dt {
        white-space: normal;
    }
    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    input.form-control,
    select.form-control,
    textarea.form-control {
        max-width: 280px;
    }
        select.form-control:not([size]):not([multiple]){
            min-height:34px!important;
        }
        input[type="checkbox"]:hover,
        select:hover{
            cursor:pointer;
        }
        input[type="checkbox"]:hover,
        input.form-control:hover,
        select.form-control:hover,
        textarea.form-control:hover,
        button.form-control:hover,
        button.dropdown-toggle:hover {
            box-shadow: 0px 0px 2px var(--accent-color) !important;
            border-color: var(--accent-color)/ !important;
        }
        input[type="checkbox"]:checked,
        input.form-control:focus,
        select.form-control:focus,
        textarea.form-control:focus,
        button.form-control:focus,
        button.dropdown-toggle:focus {
            box-shadow: 0px 0px 5px var(--accent-color) !important;
            border-color: var(--accent-color)/!important;
        }

        dt{
            width:45%!important;
            margin-right:2rem;
        }
        dd{
            margin-left: 0!important;
        }
    a {
        color: var(--accent-color) !important;
    }

    a:hover {
        color: var(--secondary-color);
    }

    footer {
        background-color: var(--secondary-color);
    }

    #brand {
        color:white !important;
        font-size: 20px;
        font-weight:500;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: var(--selected-color)!important;
        border-radius: 10px;
    }

    #query {
        border: none;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    #search {
        border: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        height: 34px;
        background-color: var(--accent-color);
        color: var(--main-color);
        font-weight: 700;
        padding: 5px 15px;
    }
    #navbar-div{
        padding:0;
    }

    nav, .navbar {
        background-color: var(--secondary-color);
    }

    img {
        color: var(--accent-color);
    }

    .navbar-fixed-bottom {
        background-color: var(--secondary-color);
    }

    textarea.form-control#wiadomosc {
        min-width: 400px;
        min-height: 35px;
        max-height: 100px;
        resize: none;
    }

div.recieved-message {
    background-color: var(--accent-color);
    color: var(--main-color);
    width: fit-content;
    border-radius: 10px;
    margin-bottom: .5rem;
}
    div.recieved-message > h6 {
        text-align: start;
    }

    .btn-primary, .btn-outline-primary{
        background-color: var(--accent-color) !important;
        border:none!important;
    }
    input[type="checkbox"]{
        accent-color:var(--accent-color);
    }
    select.form-control {
        accent-color: var(--accent-color);
        background: var(--main-color);
    }
    select.form-control:focus {
        accent-color: var(--accent-color);
        background: var(--main-color);
    }

ul.pagination > li.active > a {
    background-color: var(--main-color);
    border: 1px solid var(--accent-color);
}
    ul.pagination > li.active > a:hover {
        background-color: var(--main-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
ul.pagination > li > a:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
div.d-grid-4 {
    width:75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}
    div.d-grid-4 > * {
        border-radius: 10px;
        background-color: var(--fourth-color);
        padding: 3rem 2rem;
        text-align: center;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 9rem;
    }

p.your-message {
    color: #343434 !important;
}
div.your-message {
    background-color: var(--your-message) !important;
    margin-bottom: .5rem;
}
div.chat-pane{
    background-color: var(--fourth-color);
    border-radius: 10px;
    padding: 0.5rem;
}
 ul.pagination{
     margin:0;
 }
td.table-cell-text-right{
    text-align:end;
    padding: .25rem 1rem;
    display:flex;
    flex-direction:column;
    justify-content:start;
}
table.info > tr{
    border-bottom:1rem;
}
table.info > tbody{
    row-gap:1rem;
}
img.fav-img {
    border-radius: 50%;
    background-color: var(--accent-color);
    padding: .35rem;
}
fieldset.desc-fs{
    border:none;
    background-color:var(--fourth-color);
    border-radius:10px;
    width:fit-content;
    height:fit-content;
}
fieldset.desc-fs > legend{
    border: none;
    margin-left:3rem;
    margin-bottom:.5rem;
}

fieldset.desc-fs > p{
    border: none;
    margin:0px 3rem;
    margin-bottom:1.5rem;
}

.btn-danger {
    background-color: var(--accent-color);
    font-weight:bold;
}